<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Finding Falcone</title>
</head>
<body>
<div class="homePage">
<app-header></app-header>
<div class="container-fluid"  style="min-height: 87vh;">
    <div class="mainSection">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/415301-PE5T16-520.jpg" height="280px" width="200px" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Hi! King Shan..</h5>
          <p class="card-text">Let's get ready to find the Queen AI Falcon</p>
          <a href="#" class="btn btn-primary" [routerLink]="['/planet']">Start the game !!</a>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
</div>
</body>
</html>